<div class="h-screen flex flex-col justify-center items-center">
  <div class="w-5/6 h-4/6 md:w-4/5 md:h-3/5 flex flex-col items-center bg-gray-200 rounded-lg">
    <h1 class="mt-12 mx-4 text-2xl md:text-3xl text-gray-800 font-light">Welcome!</h1>
    <p class="my-8 mx-12 text-sm font-light md:text-2xl text-gray-800 md:font-thin">
      This School Management System has been created to keep a
      track of the progress of our students. This also, provides
      supplementary resources for them.
    </p>
  </div>
</div>
