<%= turbo_frame_tag(dom_id(classroom)) do %>
  <div class="my-4 px-3 py-2 bg-sky-200">
    <div class="px-2 py-1 bg-sky-400 text-xl text-gray-800">
      <%= classroom.name %>
    </div>
    <div class="mt-3">
      <%= link_to classroom_path(classroom), data: {"turbo_frame": "_top"}, class: "mr-1 px-2 py-1 bg-sky-400 text-sm text-gray-800" do %>
        Timetables and Attendance Lists
      <% end %>
      <%= link_to edit_classroom_path(classroom), data: { turbo_frame: "classroom_new_edit_modal"}, class: "px-2 py-1 bg-sky-400 text-sm text-gray-800" do %>
        Edit class name
      <% end %>
    </div>
  </div>
<% end %>
