<span class="text-gray-700 font-bold">
  <% unless students.empty? %>
    results found:  <%= students.count %>
  <% end %>
</span>
<% students.each do |student| %>
  <br>
  <%= link_to student, data: {"turbo_frame": "_top"}, class: "text-blue-700 px-2 font-bold" do %>
    <%= highlight(student.first_name + " " + student.second_name + " " + student.last_name, params.dig(:first_name_search)) %>
  <% end %>
  <%= link_to students_path(anchor: "student_#{student.id}") do %>
    <i class="fa-solid fa-arrow-down"></i>
  <% end %>
<% end %>
