<%= turbo_frame_tag "admin_list" do %>
  <div class="mt-8 flex flex-col justify-center items-center">
    <%= render "students/search_form" %>
  </div>
  <div class="my-8 flex justify-center items-center">
    <%= link_to new_student_path, data: {turbo_frame: "modal"}, class: "px-3 py-2 bg-green-700 text-2xl text-gray-50 font-light shadow-xl rounded hover:bg-green-400" do %>
      New <i class="fas fa-user-graduate"></i> Student
    <% end %>
  </div>
  <%= render "students/students", students: @students %>
<% end %>