<%= turbo_frame_tag "students" do %>
  <div class="mt-8 flex flex-col items-center">
    <div class="w-4/5 mt-4">
      <div class="">
        <% @students.each do |student| %>
          <%= render "students/student", student: student %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= turbo_frame_tag "new_student" do %>
  <div class="mt-8 flex justify-center items-center">
    <%= link_to new_student_path, class: "px-3 py-2 bg-green-600 text-gray-50 text-2xl hover:bg-green-400 rounded-lg" do %>
      New Student
    <% end %>
  </div>
<% end %>
