<%= turbo_frame_tag "students" do %>
  <div class="ml-8 my-8">
    <div class="text-3xl font-light text-gray-700 flex justify-center items-center">All Students</div>
    <% @students.each do |student| %>
      <%= render "students/student", student: student %>
    <% end %>
  </div>
<% end %>
<%= turbo_frame_tag "new_student" do %>
  <div class="flex flex-col justify-center items-center">
    <%= link_to new_student_path, class: "px-3 py-2 bg-green-600 text-gray-50 text-2xl hover:bg-green-400 rounded-lg" do %>
      New Student
    <% end %>
  </div>
<% end %>
