<% provide(:button_name, "Add New Cocurriculum") %>

<%= turbo_frame_tag "new_student_terminal_cocurriculum" do %>
  <div data-controller="cocurriculum-form" data-action="turbo:submit-end->cocurriculum-form#submitEnd">
    <div class="bg-gray-200 px-16 py-6 rounded shadow-2xl absolute -translate-y-20 -translate-x-24 z-50">
      <div class="text-lg text-gray-800">New Cocurriculum</div>
      <%= render "form", student: @student, term: @term, student_terminal_cocurriculum: @student_terminal_cocurriculum %>
    </div>
  </div>
<% end %>