<span class="border-2 border-green-700 px-1"><i class="fa-solid fa-pen text-green-700"></i> <%= marks_report.written %></span>
<span class="border-2 border-orange-700 px-1"><i class="fa-solid fa-face-grin-beam text-orange-700"></i> <%= marks_report.oral %></span>
<span class="border-2 border-blue-700 px-1"><i class="fa-solid fa-equals text-blue-700"></i> <%= marks_report.total %></span>
<%= link_to edit_student_terminal_subject_marks_report_url(marks_report.student_terminal_subject, marks_report), class: "px-2 py-1 text-sm bg-orange-700 rounded text-gray-50" do %>
  <i class="fa-solid fa-marker"></i> Edit marks
<% end %>