<%= turbo_stream.replace("flash") do %>
  <div class="px-2 py-1 text-sm bg-orange-300 border border-orange-700 text-orange-700">
    Marks report has been successfully added
    <%= link_to student_term_student_terminal_subjects_url(@student, @term), data: {"turbo_frame": "_top"}, class: "ml-2 text-sm text-gray-700 text-orange-700" do%>
      <i class="fa-solid fa-rectangle-xmark"></i>
    <% end %>
  </div>
<% end %>