<%= turbo_frame_tag "subjects_count" do %>
  <span class="px-3 py-3 text-lg text-gray-600 border border-blue-500 rounded-full bg-gray-50"><%= Subject.count %> | <%= Subject.sum(:credits) %> </span>
<% end %>