<div class="w-full h-40 mt-32 bg-gray-800">
  <div class="pt-10 text-sm text-gray-100 flex justify-around items-baseline">
    <div class="">Copyright reserved for MTTC</div>
    <div class="">created by Zahid A K</div>
    <div class=""><%= Date.today %></div>
  </div>
</div>